<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>NF-Cloud</title>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/underscore.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ejs.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/backbone.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/nfe.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/dashboard.js"></script>
  </head>
  <body>
    <div id="menu">
      <ul>
        <li>
          Notas
          <ul>
            <li><a href="#nfe/add">Emitir</a></li>
            <li><a href="#nfe/search">Procurar</a></li>
          </ul>
        </li>
        <li><a href="#help">Ajuda</a></li>
      </ul>
    </div>
    <div id="dashboard">
    </div>
  </body>
</html>
